*{padding:0; margin:0; box-sizing:border-box;}
    body{
        /* background-image: linear-gradient(rgba(0,0,0,1) 10%, rgba(0,0,0,0.68), rgba(0,0,0,0.0) 80%)jpg"); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        overflow-x:hidden;
        font-family: sans-serif;
    }
    header{
        font-family:sans-serif;
    }

    .logo{
        font-size:2em;
        letter-spacing:2px;
    }
    
    .menu a{
        text-decoration:none;
        color:black;
        padding: 10px 20px;
        font-size:1.4em;
        position:relative;
    }
    
    .menu a:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:0;
        height:100%;
        border-bottom: 2px solid skyblue;
        transition: 0.4s linear;

    }
    .menu a:hover:before{
        width: 90%;
    }
    .register a{
        text-decoration:none;
        color:black;
        padding: 0.6em 1em;
        font-size:1.4em;
        background:skyblue;
        border-radius:0.5em;
        transition:0.4s;

    }
    .register a:hover{
        background: transparent;
        
    }

    h1{
        font-weight: bolder;
    }

    .row{               
        margin-top: 5vmin;
    }

    .fig{
        width:fit-content;
        text-align: center;
    }
    .figg{
        border-radius: 2.3vmin;
        border: 1px solid;  
    }

    .button{
        position:relative;
        background: orange;
        border: 1px solid black;
        border-radius: 2em;
        font-size: 1.7em;
        bottom:4.2em;
        padding:0.24em 2.7em;
    }
    .button:hover{
        background-color: skyblue;
        box-shadow:0 1em 0.7em rgba(0, 0, 0, 0.5);
    }
    







    .figg:hover {
    box-shadow:0 20px 35px rgba(0, 0, 0, 0.7);
    }
    figcaption{
        align-items: center;
        color: white;
        font-family:sans-serif;
        font-size: larger;
    }
  
    .next{
        border-radius: 0px;
        background: lightblue;
        box-shadow:0 20px 35px rgba(0, 0, 0, 0);
    }
    .product1{
        border:1px solid black;
    }


    @media screen and (max-width: 1300px) {
        body{
            font-size: 2vh;
        }
    }

    @media screen and (max-width:500) {
        .button{
            position: relative;
            bottom:4vh;
        }
        #bar{
            transform:scale(0);
            background: yellow;
        }
    }
    
